---
layout: default
title: Home
---

<div id="welcome">
  <h1>Welcome to the AllPlayers.com Developer site</h1>
  <p>
    This site contains API documentation for the publicly available components of the AllPlayers.com site.
  </p>
</div>

<div id="public_wadl">
  <!-- Begin: XSLT Processed WADL Info -->
  <h2>
      Non-authorized API
  </h2>
  {% include describe-nonauth.html.table %}

  <h2>
      Authorized API
  </h2>
  {% include describe-auth.html.table %}
  <!-- End: XSLT Processed WADL Info -->
  <br />
  <b><a id="togglePublicAPIDescription" href="#">Toggle Description</a></b>
</div>
