<!DOCTYPE html>

<html>
{% include head-tag.snippet %}
<body>
  {% include navbar.snippet %} 
  <div id="wrapper">
    <div class="content">
      <div class="alert alert-block"><h4 class="alert-heading">Notice</h4> Currently the AllPlayers.com API is in beta; for more information feel free to ask questions in (freenode) <code>#allplayers</code> or email us: <a href="mailto:api@allplayers.com">api@allplayers.com</a>.</div>
      {{ content }}
    </div>
  {% include sidebar.snippet %} 
  </div><!-- #wrapper -->
  {% include footer.snippet %}
</body>
</html>
